body{
    font-family: 'Arvo', serif;
    background-color: rgb(236, 232, 236);
}

.thumbnail{
    margin-top: 25px;
    width: 90%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}

.item-price{
    font-weight: 600;
}

.btn{
    border: none;
    background-color: burlywood;
    padding: 7px;
    font-size: large;
    border: 1px beige;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 25px;

}

.parent-div{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}

.child-div{
    margin: 5px;
    text-align: center;
    border-radius: 5%;
    transition: box-shadow 0.15s;
}

.child-div:hover{
    box-shadow : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer-container{
    background-color: beige;
    margin-bottom: -25px;
    text-align: center;
}

