:root{
    --primary-color: #a5b3a3;
}

html{
    scroll-behavior: smooth;
    font-family: 'Arvo', serif;
    font-family: 'Comic Neue', cursive;
}

body{
    margin: 0;
    background-color: beige;
    
}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #a79074;
   
}


.footer-container{
    background-color: #a79074;
    margin-bottom: -25px;
    text-align: center;
}

.work-exp{
    margin: auto;
    background-color: beige;
    width: clamp(200px, 80vw, 1700px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

.work-exp-card{
    background-color: var(--primary-color);
    margin: 25px 25px;
    width: 70vw;
    flex-direction: column-reverse;
    border-radius: 5px;
}


.card{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    min-width: clamp(100px, 40vw, 850px);
    min-height: min(50vh, 300px);
    border-radius: 5px;
}

.btn{
    font-size: small;
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background: #a79074;
    cursor: pointer;
}

.wrapper-card{
    overflow: auto;
    max-height: 50vh;

} 

.projects{  
    width: 70vw;
    margin: 0 auto;
}

.project-card{
    background-color: var(--primary-color);
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-card > p{
    padding: 5px 20px;
}

.project-card p:first-of-type{
    padding-top: 20px;
}
 .project-card p:last-of-type{
    padding-bottom: 20px;
 }


.cert-gallery{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

.thumbnail{
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
    border-radius: 5%;
}

.child-div{
    
    text-align: center;
    border-radius: 5%;
    transition: box-shadow 0.15s;
}

.child-div:hover{
    box-shadow : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--primary-color);
}



@media screen and (max-width: 970px) {
    .work-exp-card{
        width: 100vw;
    }

    .header{
        grid-template-columns: 1fr;
    }
    
    .cert-gallery{
        grid-template-columns: 1fr;
    }

    .formBody{
        flex-direction: column;
        width: 80%;
        
    }

    .embedded-map{
        width: 100%;
    }
    
    .right-part{
        justify-content: center;
        & form, & table{
            display: flex;
            justify-content: center;
        }
        & table{
            padding-bottom: 15px;
        }
    }

    .parent-div{
        width: 70vw;
        grid-template-columns: 1fr;
    }

    .video-div{
        margin: 0 auto;
    }
    
    .audio-div{
        margin: 0 auto;
    }
}